.error{
    color: red;
}
body{
    /*background-color: red;*/
    background: url("background.jpg") repeat-y;
   background-size: 100%;
}
#forms{
    /*background-color: #1D1F20;*/
    color: aliceblue;
    text-shadow: black 1px 2px;

}
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: #f8931f;
    text-align: center;
}

#nemate_pravo{
    color: aliceblue;
    text-shadow: black 1px 2px;
}
