.error{
    color: red;
}
body{
    /*background-color: red;*/
    background: url("fon.jpg");

}
#forms{
    /*background-color: #1D1F20;*/
    color: aliceblue;
    text-shadow: black ;
}
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: #f8931f;
    text-align: center;
}
table{
    background-color: #1D1F20;
    color: aliceblue;
}